.menu{
    color: aqua;
    background-color: blue;
    height: 100px;
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none; 
    
}

.botones .item{
    background-color: blueviolet;
    padding: 5px;
    border: solid 2px black;
    cursor: pointer;
    color: black;
}

.item:hover{
    background-color: azure;
}