

.text-card{
    margin-top: 40px;
    font-size: 2rem;
    
    text-align: center;
    color: black;
}

.text-about{
    padding: 80px;

}

.titleAbout{
    color: black;
}

.title-categories{
    color: black;
}

.text-p{
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
}

.title2{
    color: black;
}

.categories{
    display: block;
    padding: 20px;
}

.cont{
    margin: 0 auto;
    max-width: 1180px;

}

.cats{
    display: flex;
    flex-wrap: wrap;
}

.colum{
    text-align: center;
    width: 20%;
}

.cat{
    background-color: #fff;
    color: #6d6d6d;
    display: flex;
    font-size: 14px;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    outline: 1px solid #aee6e6;
    text-decoration: none;
    width: 100%;
    transition: all ease .2s;
    -webkit-transition: all ease .2s;
   

}
.cat:hover{
    background-color: rgb(216, 224, 224);
}

.svg-icon{
    margin: 60px 0 15px;
    min-height: 48px;
    align-items: center;
}

.svg-icon svg{
    width: 50px;
    height: 40px;
    color: rgba(35, 66, 240, 0.911);
}

.svg-text{
    color: black;
    font-size: 1rem;
    font-weight: 500;
}

@media screen and (max-width:768px){
   .cats .colum{
        width: 50%;
    }
    
}

.titleSlider{
    text-align: center;
    color: black;
}