
.body{
    background-color: rgb(229, 231, 231);
    margin-left: 80px;
    margin-top: 30px;
    max-width: 90%;
    box-shadow: 0 0 10px rgb(182, 179, 179);
}



.Dropdown{
    width: 350px;
    position: absolute;
    user-select: none;
    margin-top: 20px;
    margin-left: 10px;
    
}

.Dropdown .dropdown-btn{
    padding: 10px;
    background-color: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.Dropdown .dropdown-content{
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: 500;
    color: #333;
    top: 110%;
    left: 0;
  
    padding: 15px;
    background: #fff;
    width: 95%;

}

.Dropdown .dropdown-content .dropdown-item{
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
}

.Dropdown .dropdown-content .dropdown-item:hover{
    background: #f4f4f4;
}


@media screen and (max-width:780px) {
    
    .Dropdown{
        width: 310px;
        position: relative;
        user-select: none;
        padding-top: 30px; ;
        
        
    }

}

@media screen and (max-width:420px) {
    
    .Dropdown{
        width: 250px;
        position: relative;
        user-select: none;
        padding-top: 30px; ;
        
        
    }

    .body{
        background-color: rgb(229, 231, 231);
        margin-left: 30px;
        margin-top: 30px;
        max-width: 100%;
        box-shadow: 0 0 10px rgb(182, 179, 179);
    }

}
