.slider{
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    
}

.slider .slide-track{
    display: flex;
    animation: scroll 40s linear infinite;
    width: calc(200px * 24);
    -webkit-animation:scroll 30s linear infinite ;
}

.slider .slide{
    width: 200px;
    margin: 40px;
    margin-top: 70px;
    padding: 10px;
}

.slider .slide img{
    width: 100%;
}

@keyframes scroll  {
    0%{
        transform:translateX(0);
        -webkit-transform:translateX(0);
    }
    100%{
        transform:translateX(calc(-200px * 7));
        -webkit-transform:translateX(calc(-200px * 7));
    }
}


