.card{
    width: 20rem;
    margin-top: 30px;
    
}

.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253);
}

.card-body{
    padding: 3rem 0 !important;
}

.card-text{
    font-size: 0.9rem;
    padding: 0.4rem 1.9rem;
}

.container-fluid .row{
    padding-top:6rem ;
}

.overflow{
    overflow: hidden;
}

.card-img-top{
    transform: scale(1);
    transition: transform 0.5s ease ;
}

.card-img-top:hover{
    transform: scale(1.8);
}

.btnCard{
    background: none;
    border-radius: 10px;
    padding: 10px;
    border: solid 1px #7f37c9;
    color: #030303;
    font-weight: 500;
}

.btnCard:hover{
    background-color: #c99af8;
}


@media screen  and (max-width:850px){
      
    .card{
        width: 15rem;
        margin-top: 30px;
        
    }

}


@media screen  and (max-width:770px){
      
    .card{
        width: 25rem;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        
    }

}


@media screen  and (max-width:400px){
      
    .card{
        width: 17rem;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        
    }

}